/* TITULO PRINCIPAL */
.tituloPrincipal {
    font-size: 4rem;
    color: #ffffff; 
    font-family: 'Arial', 'Helvetica', sans-serif;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
}

/* HEADER */
.header {
    background-image: url(../img/wallpaper.png);
    background-size: cover;
    height: 95vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TIPOGRAFIAS */
h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: #ffffff; /* Color adaptado para que resalte más */
}

h2 {
    font-size: 2.5rem;
    color: #3e3769;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

/* PARAGRAFOS Y ENLACES */
p {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    line-height: 1.6;
}

a {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: #000; 
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
}

/* ENLACES ESTILIZADOS */
.link {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    background-color: #cccbce;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #b5b3b8;
}

/* RESPUESTA MÓVIL */
@media (max-width: 768px) {
    .tituloPrincipal {
        font-size: 3rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    img {
        height: auto;
    }

    .link {
        width: auto;
        height: auto;
        padding: 10px 15px;
        line-height: normal;
    }
}

/* SECCIÓN DE PRODUCTOS */
.productos {
    text-align: center;
    margin: 50px 0;
}

.producto-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap; /* Asegura que los productos se adapten a diferentes tamaños de pantalla */
}

.producto {
    min-width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.producto img {
    max-width: 100%;
    height: auto;
}

button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #3e3769;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2c2548;
}

/* CARRITO DE COMPRAS */
#carrito {
    list-style-type: none;
    padding: 0;
}

#carrito li {
    margin: 5px 0;
}

#productos button {
    margin: 20px 5px;
    border-radius: 5px;
    background-color: #3e3769;
    color: #ffffff;
}

#productos button:hover {
    background-color: #2c2548;
}
